body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #003366;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav {
    background: #005599;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
}

.container {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}
